MayoWS/schema/assistivedevice.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="Assistivedevice">
		<xs:complexType>
			<xs:all>
				<xs:element name="clinicNum" type="xs:string" minOccurs="0" />
				<xs:element name="name" type="xs:string" />
				<xs:element name="oldname" type="xs:string" minOccurs="0" />
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>