MayoWS/schema/file.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="File">
		<xs:complexType>
			<xs:all>
				<xs:element name="filename" type="xs:string" />
				<xs:element name="clinicNum" type="xs:string" />
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>